<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
    <style>
        table {
            border: 1px solid grey;
            width: 100%;

        }
        /* границы ячеек первого ряда таблицы */
        th {
            border: 1px solid grey;
        }
        /* границы ячеек тела таблицы */
        td {
            border: 1px solid grey;
        }
    </style>
</head>
<body>
<table>
    <h1 th:text="${name.getLogin()}"></h1>
    <tr><th>Мясо</th><th>цена</th><th>колличество</th></tr>
    <tr th:each="basket:${basket}">
        <td th:text="${basket.getNameproduct()}"></td><td th:text="${basket.getPrice()}"></td><td th:text="${basket.getCount()}"></td>
    </tr>
</table>
</body>
</html>